{% extends "base.html" %}

{% block site-title %}
  Log-In
{% endblock site-title %}

{% block site-content %}


{% for message in messages %}

<div class="notification">
    <p>  {{message}} </p>
    <span class="notification__progress"></span>
  </div>

{% endfor %}
  
    <div class="login-box">
        <h2>Login</h2>
        
        <form action="{% url 'login-page' %}" method="post">
            {% csrf_token %}
            <div class="user-box">
                <input type="text" name="username" required >
                <label>Username</label>
            </div>
            
            <div class="user-box">
                <input type="password" name="password" required >
                <label>Password</label>
            </div>
            
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
               <button class="btn-submit" type="submit" >Log-In</button>
            </a>
        
        
        </form>
    </div>


{% endblock site-content %}