{% extends "base.html" %}

{% block site-title %}
  Messages
{% endblock site-title %}


{% block site-content %}
    
    <h1 style="text-align: center;">Messages</h1>
    <hr>
    <div id="container">
      <aside class="asside-message">
        <header >
          <input type="text" placeholder="search">
        </header>
        <ul>
          <li>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
            <div>
              <h2>Alperen</h2>
              <h3>
                <span class="status orange"></span>
                offline
              </h3>
            </div>
          </li>
        </ul>
      </aside>
      <main class="main-message" style="background-color: #020614;">
        <header>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">
          <h3 style="display:block;color: white;">Chat with <a href="#" style="color: aqua;">Alperen</a></h3>
        </header>
        <ul id="chat">
          <li class="you">
            <div class="entete">
              <span class="status green"></span>
              <h2>Vincent</h2>
              <h3>10:12AM, Today</h3>
            </div>
            <div class="triangle"></div>
            <div class="message">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            </div>
          </li>
          <li class="me">
            <div class="entete">
              <h3>10:12AM, Today</h3>
              <h2>Vincent</h2>
              <span class="status blue"></span>
            </div>
            <div class="triangle"></div>
            <div class="message">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            </div>
          </li>
          
        </ul>
        <footer>
          <textarea placeholder="Type your message"></textarea>
          <a href="#">Send</a>
        </footer>
      </main>
    </div>

{% endblock site-content %}